<html>

<head>
    <title>Customers</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
</head>

<h1>Sales</h2>
<table id="sales-table">
    <nav class="navbar navbar-expand navbar-light bg-light text-center">
        <div class="collapse navbar-collapse p-1" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="/" class="nav-link">Gogurts</a>
                </li>
                <li class="nav-item active">
                <li><a href="suppliers" class="nav-link">Suppliers</a></li>
                </li>
                <li class="nav-item active">
                <li><a href="orders" class="nav-link">Orders</a></li>
                </li>
                <li class="nav-item active">
                <li><a href="sales" class="nav-link active">Sales</a></li>
                </li>
                <li class="nav-item active">
                <li><a href="customers" class="nav-link">Customers</a></li>
                </li>
            </ul>
        </div>
    </nav>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.idSale}}</td>
            <td>{{this.idCustomer}}</td>
            <td>{{this.shipDate}}</td>
            <td>{{this.subTotal}}</td>
            <td><button onclick="deleteSale({{this.idSale}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_sale.js"></script>
<!-- /views/customers.handlebars -->

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new sale, please fill out the information below and click 'Submit'!</p>
<form id="add-sale-form-ajax">
    <label for="input-idCustomer">Customer ID: </label>
    <select name="input-idCustomer" id="input-idCustomer-ajax">
        <option value="">Select a Customer</option>
        {{#each customers}}
        <option value="{{this.idCustomer}}">{{this.customerName}}</option>
        {{/each}}
    </select>
    
    <label for="input-idGogurt">Gogurt ID: </label>
    <select name="input-idGogurt" id="input-idGogurt-ajax">
        <option value="">Select a Gogurt</option>
        {{#each gogurts}}
        <option value="{{this.idGogurt}}">{{this.flavor}}</option>
        {{/each}}
    </select>

    <label for="input-shipDate">Ship date: </label>
    <input type="date" name="input-shipDate" id="input-shipDate-ajax">

    <label for="input-orderQty">Order Quantity: </label>
    <input type="number" name="input-orderQty" id="input-orderQty-ajax">

    <label for="input-unitPrice">Unit price: </label>
    <input type="number" step="0.01"name="input-unitPrice" id="input-unitPrice-ajax">

    <label for="input-subTotal">SubTotal: </label>
    <input type="number" step="0.01" name="input-subTotal" id="input-subTotal-ajax">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_sale.js"></script>

<p>&nbsp;</p>

<h2>Sales Details</h2>
<table id="salesDetails-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data2.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data2}}
        <tr>
            <td>{{this.idSalesDetail}}</td>
            <td>{{this.sid}}</td>
            <td>{{this.gid}}</td>
            <td>{{this.salesDate}}</td>
            <td>{{this.orderQty}}</td>
            <td>{{this.unitPrice}}</td>
            <td>{{this.lineTotal}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</html>
